{% extends "base.html" %}

{% block title %}Mis Eventos{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Mis Eventos</h1>
    <a href="{% url 'create_event' %}" class="btn btn-primary">Crear Nuevo Evento</a>
</div>

<ul class="list-group">
    {% for evento in eventos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h3>{{ evento.nombre }}</h3>
                <span class="badge bg-secondary rounded-pill">{{ evento.fecha|date:"M d, Y" }}</span>
            </div>
            <div>
                <a href="{% url 'kiosco_asistencia' evento.id %}" class="btn btn-success btn-sm">Registro</a>
                <form action="{% url 'delete_event' evento.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <a href="{% url 'evento_detail' evento.id %}" class="btn btn-success btn-sm">Detalles</a>
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">Aún no tienes eventos.</li>
    {% endfor %}
</ul>
{% endblock %}
