
{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1> Tareas </h1>

{% for task in tasks %}
    <a href="{% url 'task_detail' task.id %}">Ver detalles de la tarea</a>
    <br>
    <div class="task">
        <h2>{{ task.title }}</h2>
        <p>Description: {{ task.description }}</p>
        {% if task.datecompleted %}
            <p>Date complete: {{ task.datecompleted|date:"j F Y" }}</p>
        {% endif %}
        <p>Esta tarea es importante: 
            {% if task.important %}
                Sí
            {% else %}
                No
            {% endif %}
        </p>
    </div>
{% empty %}
    <p>No tasks available.</p>
{% endfor %}

{% endblock %}