
{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h1> Tareas </h1>

{% for task in tasks %}
    <div class="task">
        {# Hacemos que el título sea el enlace a los detalles #}
        <h2><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></h2>
        <p>Description: {{ task.description }}</p>
        {# Corregimos el nombre del campo a la convención snake_case #}
        <p>Date complete: {{  task.datecompleted|date:"j F Y"}}</p>
        <p>Esta tarea es importante: 
            {% if task.important %}
                Sí
            {% else %}
                No
            {% endif %}
        </p>
    </div>
{% empty %}
    <p>No tasks available.</p>
{% endfor %}

{% endblock %}